* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Material Icons */
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* material icons  sizing */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Personal Styles */

body,
.login,
.register,
.add-user,
.change-pass,
.profile-bg {
  background: #e8f5e9 !important;
}

.profile {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.profile-btn {
  width: 300px;
  background: #00796b;
}

.profile-btn:hover {
  background: #00796b;
  border-color: #e8f5e9 !important;
}

.login-btn,
.register-btn,
.change-pass-btn,
.add-user-btn {
  background: #009688;
}

.login-btn:hover,
.register-btn:hover,
.change-pass-btn:hover,
.add-user-btn:hover {
  background: #00796b;
  border-color: #e8f5e9 !important;
}

.login-btn:active,
.register-btn:active,
.change-pass-btn:active,
.add-user-btn:active {
  background: #00796b;
  border-color: #e8f5e9 !important;
}

.drp {
  background: #009688;
}

.drp a {
  color: white;
}

.border-btm {
  border-bottom: 2px solid #009688;
}
/* .nav-link:hover {
  background: #00796b;
  color: white;
  border-color: #e8f5e9 !important;
} */

/* .nav-link:active {
  background: #00796b;
  color: white;
  border-color: #e8f5e9 !important;
} */

.drp a:hover {
  background: #00796b;
  color: white;
  border-color: #e8f5e9 !important;
}

.drp a.selected {
  background: #00796b !important;
  color: white;
  border-color: #e8f5e9 !important;
}

.my-nav,
button {
  background: #009688;
}

.unpaid {
  background: salmon;
}

.paid {
  background: #00897b;
}
